//? === CurrentWeatherCard ===

@import 'styles/_vars';
@import 'styles/_mixins';

.card {
	@include card;
	@include card-lg;
}

.title {
	@include title-2;
}

.weather {
	margin-block: 12px;

	display: flex;
	align-items: center;
	gap: 8px;

	&__heading {
		@include heading;
	}

	&__icon {
		width: 64px;
		height: 64px;

		margin-inline: auto;

		@media (min-width: $bp-xl) {
			width: 80px;
			height: 80px;
		}
	}
}

.overcast {
	@include body-3;

	text-transform: capitalize;
}

.meta {
	margin-block-start: 16px;
	padding-block-start: 16px;
	border-block-start: 1px solid $outline;

	&__item {
		display: flex;
		align-items: center;
		gap: 8px;

		&:not(:last-child) {
			margin-block-end: 12px;
		}
	}

	&__text {
		@include title-3;

		color: $on-surface-variant;
	}
}
