//? === InfoCard ===

@import 'styles/_vars';
@import 'styles/_mixins';

.card {
	@include card;
	@include card-sm;
	@include highlight-card;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: 'heading heading' 'icon value';
	align-items: center;
	justify-content: space-between;
	row-gap: 20px;

	@media (min-width: $bp-md) {
		padding: 20px;

		row-gap: 16px;
	}

	@media (min-width: $bp-xl) {
		padding: 24px;

		row-gap: 24px;
	}
}

.heading {
	@include title-3;

	color: $on-surface-variant;

	grid-area: heading;
}

.icon {
	font-size: 3.2rem !important;

	grid-area: icon;

	@media (min-width: $bp-md) {
		font-size: 3.6rem !important;
	}

	@media (min-width: $bp-xl) {
		font-size: 4.8rem !important;
	}
}

.value {
	@include m-title-1;
	color: $on-surface-variant-2;

	grid-area: value;

	@media (min-width: $bp-md) {
		@include body-1;
	}

	@media (min-width: $bp-xl) {
		@include title-1;
	}
}
