//? === Button ===

@import 'styles/_vars';
@import 'styles/_animations';
@import 'styles/_mixins';

.button {
	display: flex;
	align-items: center;
	gap: 16px;

	height: 48px;
	max-width: max-content;
	padding: 16px;

	line-height: 48px;
	color: $white;

	border-radius: $radius-pill;
	background-color: $white-alpha-8;

	&.primary {
		color: $on-primary;

		background-color: $primary;
	}

	&.withoutText {
		padding: 16px 12px;
	}

	&:disabled {
		color: $on-surface-variant;

		cursor: not-allowed;
		background-color: $outline;

		&::before {
			display: none;
		}
	}
}

.hasState {
	@include hasState;
}

.startIcon {
	font-size: 2.4rem !important;
}

.text {
	font-weight: $weight-semiBold;
}
