//? === WeatherCard ===

@import 'styles/_vars';
@import 'styles/_mixins';

.card {
	@include card;
	@include card-sm;

	min-width: 110px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	flex: 1 1 100%;
}

.time {
	@include body-3;
	color: $on-surface;
}

.icon {
	width: 48px;
	height: 48px;
	object-fit: contain;
	object-position: center;
}

.info {
	@include body-3;
	color: $on-surface;
}
