//? === RiseAndSetCard ===

@import 'styles/_vars';
@import 'styles/_mixins';

.card {
	@include card;
	@include card-sm;
	@include highlight-card;

	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-areas: 'heading heading' 'sunrise sunset';
	gap: 20px 16px;

	@media (min-width: $bp-md) {
		padding: 20px;
	}

	@media (min-width: $bp-xl) {
		padding: 24px;

		column-gap: 24px;
	}
}

.heading {
	@include title-3;
	color: $on-surface-variant;

	grid-area: heading;
}

.sunrise {
	grid-area: sunrise;
}
.sunset {
	grid-area: sunset;
}
