//? === RiseAndSetCard ===

@import 'styles/_vars';
@import 'styles/_mixins';

.card {
	@include card;
	@include card-sm;
	@include highlight-card;

	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-areas: 'heading heading' 'sunrise sunset';
	gap: 8px 16px;
}

.heading {
	@include title-3;
	color: $on-surface-variant;

	grid-area: heading;
}

.sunrise {
	grid-area: sunrise;
}
.sunset {
	grid-area: sunset;
}

.title {
	@include label-1;
	color: $on-surface-variant;
}
.value {
	@include title-1;
}
