// Material icons font
@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 400;
	// src: url('FileName.eot');
	src: url('../assets/fonts/material-symbol-rounded.woff2') format('woff2');
	// src: url('FileName.eot?#iefix') format('embedded-opentype'),
	// 	 url('FileName.woff') format('woff'),
	// 	 url('FileName.ttf') format('truetype'),
	// 	 url('FileName.svg#Material Symbols Rounded') format('svg');
}
