@import './vars';

@mixin hasState {
	position: relative;

	&:hover {
		box-shadow: $shadow-1;

		&::before {
			background-color: $white-alpha-4;
		}
	}

	&:is(:focus, :focus-visible) {
		box-shadow: none;

		&::before {
			background-color: $white-alpha-8;
			animation: ripple 250ms ease forwards;
		}
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		clip-path: circle(100% at 50% 50%);
		transition: $transition-short;
	}
}

@mixin container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
}

// Card
@mixin card() {
	color: $on-surface;

	background-color: $surface;
}

@mixin card-sm {
	padding: 16px;

	border-radius: $radius-16;
}

@mixin card-lg {
	padding: 20px;

	border-radius: $radius-28;
}

@mixin highlight-card {
	background-color: $black-alpha-10;
}

// Typography

@mixin heading {
	font-size: $heading;
	line-height: 1.1;

	color: $white;
}

@mixin title-1 {
	font-size: $title-1;
}

@mixin title-2 {
	font-size: $title-2;

	margin-block-end: 12px;
}

@mixin title-3 {
	font-size: $title-3;
	font-weight: $weight-semiBold;
}

@mixin body-1 {
	font-size: $body-1;
}

@mixin body-2 {
	font-size: $body-2;
	font-weight: $weight-semiBold;
}

@mixin body-3 {
	font-size: $body-3;
}

@mixin label-1 {
	font-size: $label-1;
}

@mixin label-2 {
	font-size: $label-2;
}
