@import './vars';
@import './_animations';

@mixin hasState {
	position: relative;

	&:hover {
		box-shadow: $shadow-1;

		&::before {
			background-color: $white-alpha-4;
		}
	}

	&:is(:focus, :focus-visible) {
		box-shadow: none;

		&::before {
			background-color: $white-alpha-8;
			animation: ripple $transition-medium forwards;
		}
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		clip-path: circle(100% at 50% 50%);
		transition: $transition-short;
	}
}

@mixin container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 16px;

	@media (min-width: $bp-md) {
		padding: 24px;
	}

	@media (min-width: $bp-xl) {
		padding: 40px;
	}
}

// Card
@mixin card() {
	color: $on-surface;

	background-color: $surface;
}

@mixin card-sm {
	padding: 16px;

	border-radius: $radius-16;

	@media (min-width: $bp-md) {
		padding: 20px;
	}

	@media (min-width: $bp-xl) {
		padding: 24px;
	}
}

@mixin card-lg {
	padding: 20px;

	border-radius: $radius-28;

	@media (min-width: $bp-md) {
		padding: 24px;
	}

	@media (min-width: $bp-xl) {
		padding: 32px;
	}
}

@mixin card-xl {
	padding: 24px;

	border-radius: $radius-28;
}

@mixin highlight-card {
	background-color: $black-alpha-10;
}

/* Typography */

// Desktop
@mixin heading {
	font-size: $heading;
	line-height: 1.1;

	color: $white;

	@media (min-width: $bp-xl) {
		$heading: 8rem;

		font-size: $heading;
	}
}

@mixin title-1 {
	font-size: $title-1;

	@media (min-width: $bp-md) {
		$title-1: 2.4rem;

		font-size: $title-1;
	}

	@media (min-width: $bp-xl) {
		$title-1: 3.6rem;

		font-size: $title-1;
	}
}

@mixin title-2 {
	font-size: $title-2;

	@media (min-width: $bp-xl) {
		$title-2: 2rem;

		font-size: $title-2;
	}
}

@mixin title-3 {
	font-size: $title-3;
	font-weight: $weight-semiBold;
}

@mixin body-1 {
	font-size: $body-1;
}

@mixin body-2 {
	font-size: $body-2;
	font-weight: $weight-semiBold;
}

@mixin body-3 {
	font-size: $body-3;
}

@mixin label-1 {
	font-size: $label-1;
}

@mixin label-2 {
	font-size: $label-2;
}

// Animations
@mixin fade-in {
	animation: fade-in-amimation 250ms ease forwards;
}
