@import './_normalize';
@import './animations';
@import './_vars';
@import './mixins';

html {
	font-family: $ff-nunito-sans, sans-serif;
	font-size: 10px;

	scroll-behavior: smooth;
}

body {
	font-size: $body-3;
	color: $on-background;

	background-color: $background;
	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;
}

// Outline settings
:focus-visible {
	outline: 2px solid $white;
	outline-offset: 2px;
}

// Selection settings
::selection {
	background-color: $white-alpha-8;
}

// Scrollbar settings
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: $white-alpha-8;
	border-radius: $radius-pill;
}
