@import './_normalize';
@import './animations';
@import './fonts';
@import './_vars';

html {
	font-family: $ff-nunito-sans, sans-serif;
	font-size: 10px;

	scroll-behavior: smooth;
}

body {
	font-size: $body-3;
	color: $on-background;

	background-color: $background;
	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;
}

:focus-visible {
	outline: 2px solid $white;
	outline-offset: 2px;
}

::selection {
	background-color: $white-alpha-8;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: $white-alpha-8;
	border-right: $radius-pill;
}

.m-icon {
	font-family: 'Material Symbols Rounded';
	font-size: 2.4rem;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	width: 1em;
	height: 1em;
	overflow: hidden;
}

// Reused styles
.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
}

.icon-btn {
	background-color: $white-alpha-8;
	width: 48px;
	height: 48px;
	display: grid;
	place-items: center;
	border-radius: $radius-circle;
}

.has-state {
	position: relative;

	&:hover {
		box-shadow: $shadow-1;

		&::before {
			background-color: $white-alpha-4;
		}
	}

	&:is(:focus, :focus-visible) {
		box-shadow: none;

		&::before {
			background-color: $white-alpha-8;
			animation: ripple 250ms ease forwards;
		}
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		clip-path: circle(100% at 50% 50%);
		transition: $transition-short;
	}
}

.btn-primary {
	line-height: 48px;
	color: $on-primary;

	height: 48px;
	max-width: max-content;
	padding-inline: 16px;

	display: flex;
	align-items: center;
	gap: 16px;

	border-radius: $radius-pill;
	background-color: $primary;

	& .span {
		font-weight: $weight-semiBold;
	}

	&:disabled {
		color: $on-surface-variant;

		background-color: $outline;
		cursor: not-allowed;

		&::before {
			display: none;
		}
	}
}
