//? === App ===

@import 'styles/_vars';
@import 'styles/_mixins';

.main {
	height: calc(100vh - 80px);
	height: calc(100svh - 80px); // For mobile devices

	overflow: hidden;

	position: relative;

	@media (min-width: $bp-md) {
		height: calc(100vh - 96px);
		height: calc(100svh - 96px); // For mobile devices
	}

	@media (min-width: $bp-xl) {
		height: calc(100vh - 120px);
		height: calc(100svh - 120px); // For mobile devices
	}
}
