//? === AirCardInfo ===

@import 'styles/_vars';
@import 'styles/_mixins';

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 4px;

	justify-content: end;
}

.heading {
	@include label-1;
	color: $on-surface-variant;
}

.value {
	@include m-title-1;
}
