//? === HourlyForecast ===

@import 'styles/_vars';
@import 'styles/_mixins';

.slider {
	display: flex;
	flex-direction: column;
	gap: 16px;

	overflow-x: auto;
	margin-inline: -16px;

	@media (min-width: $bp-md) {
		margin-inline: 0 -24px;
		border-bottom-left-radius: $radius-16;
		border-top-left-radius: $radius-16;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&__list {
		display: flex;
		gap: 12px;

		&::before,
		&::after {
			content: '';
			min-width: 4px;
		}

		@media (min-width: $bp-md) {
			&::before {
				display: none;
			}
			&::after {
				min-width: 12px;
			}
		}

		@media (min-width: $bp-xl) {
			gap: 16px;
		}
	}
}
