//? === ForecastItem ===

@import 'styles/_mixins';

.row {
}

.condition {
	display: flex;
	align-items: center;
	gap: 8px;

	&__icon {
		width: 36px;
		height: 36px;

		object-fit: contain;
		object-position: center;
	}

	&__info {
	}
}

.temperature {
	@include title-2;

	margin-block-end: 0;

	@media (min-width: $bp-xl) {
		font-size: 2.2rem;
	}
}

.date {
	@include label-1;

	font-weight: $weight-semiBold;
	color: $on-surface-variant;
	text-align: right;
}

.weekDay {
	@include label-1;

	font-weight: $weight-semiBold;
	color: $on-surface-variant;
	text-align: right;
}
