//? === Header ===

@import 'styles/_vars';
@import 'styles/_mixins';

.header {
	@media (min-width: $bp-xl) {
		position: relative;
		height: 120px;
		z-index: 4;
	}
}

.container {
	@include container;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (min-width: $bp-xl) {
		padding-block: 0;
		height: 100%;
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 16px;

	@media (min-width: $bp-md) {
		gap: 24px;
	}
}
