//? === Header ===

@import 'styles/_vars';

.header {
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actions {
	display: flex;
	align-items: center;
	gap: 16px;
}
